.wrapper {
    padding: var(--space-xl)0;
    background-color:var(--white);
    height: 400px;
    border-top: 1px solid --gray-50;
    font-weight:200;
}

.flexContainer{
    composes: sideBySideCenter from '../styles/utils.module.css';
    gap: 2em;
}

.footerList{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    font-size:0.9em;
    font-weight:200;
}

.footerList > * + *{
    margin-left:3em;
}
/*
 mobile
 */

/* @media screen and (max-width: 900px) {
    .wrapper{
        max-width: 70%;
    }
    }  */
