.flexContainer {
    composes: sideBySideCenter from '../styles/utils.module.css';
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    min-height: 500px;
    margin-top: 100px;
}
.text{
    padding-top: calc(var(--display) * 0.5);
    padding-bottom: calc(var(--display) * 0.7);
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 1rem;
}
.title {
    position: absolute;
    z-index: 2;
    font: size 4em;
    font-weight: 200;
    /* font-family: var(--playfair-font), 'Times New Roman', 'Georgia', serif; */
    letter-spacing: 0.005em;
    line-height: 1em;
    top:57%;
    left: 50%;
    /* right:80%; */
    transform: translateY(-50%);
    text-align: left;
    color: black;
    max-width: 80%;
    word-wrap: break-word;
}
.subtitle {
    font-size: var(--small-heading2);
    max-width: 40vw;
    word-break: break-word;
    white-space: normal;
    margin: 0 auto;
    display:block;
}

/* image */
.image {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    object-fit: cover;
    display:block;
}

@media (min-width: 768px){
    .image {
        width: 100%;
        height: 100vh;
    }
}