/* .splide__slide{
  margin: 0;
  padding: 0;
} */

.splide {
  will-change: transform;
  transform: translateZ(0);
}

.splideWrapper {
  max-width: 100Vw;
  height: 800px;
}

.splideTitle {
  margin: 100px auto 0;
  max-width: 1400px;
  font-size: 2.5em;
  font-weight: 100;
  text-align: left;
  /* margin-top: 100px; */
  padding-left: 8%;

}

.splideImg {
  width: 100%;
  height: 99%;
  margin-top: 60px;
  object-fit: contain;
  display: block;
}

.viewMoreLink {
  display: flex;
  justify-content: left;
}

/* ------------------
mobile 
---------------------*/

@media screen and (max-width: 900px) {

  .splideWrapper {
    height: 300px;

  }

  .splideTitle {
    max-width: 100%;
    margin-left: 8%;

  }

  .newsContainer {
    right: 0;
    margin: 0;
  }

  .splideImg {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
    margin-top: 24px;
  }
}