.splideWrapper{
  max-width: 1680px;
  margin: 0 auto;
}
.splideTitle {
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-size: 2.5em;
  font-weight: 100;
  text-align: left;
  margin-top: 100px;
  padding-left: 8%;
}
.splide {
  will-change: transform;
  transform: translateZ(0);
  margin-top: 600px;
}

.splideImg {
  width: calc(100% - 0.15em);
  margin-top: 100px;
  object-fit: cover;
  display: block;
}
.viewMoreLink {
  display: flex;
  justify-content: left;
}

/* ------------------
mobile 
---------------------*/

 @media screen
    and (max-width: 900px) {
        .splideTitle{
            padding-left:0;
        }
        .newsContainer {
            right: 0;
            margin: 0;
        }
} 