.splide {
  will-change: transform;
  transform: translateZ(0);
}

.splideWrapper {
  max-width: 100Vw;
  height: 800px;
}

.splideTitle {
  margin: 100px auto 0;
  max-width: 1400px;
  font-size: 2.5em;
  font-weight: 100;
  text-align: left;
  margin-top: 100px;
  padding-left: 8%;
}

.link{
  display:none;
}

.splideImg {
  width: 100%;
  height: 99%;
  margin-top: 60px;
  object-fit: contain;
  display: block;
}

.viewMoreLink {
  display: flex;
  justify-content: left;
}

.mobileOnly{
  display: none;
}
/* ------------------
mobile 
---------------------*/

@media screen and (max-width: 900px) {

  .splideWrapper{
    width:100%;
    height: 800px;
    background-image: url('../images/laceflower.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5% 20%;
  }

  .splideTitle {
    /* max-width: 100%; */
    margin-right: 0;

  }

  .textContants{
    display: flex;
    flex-direction: column;
    width:  35%;


    /* justify-content: right; */
    /* align-items: right; */
    /* max-width: 100%; */
    /* margin: 0 auto; */
    /* padding-left: 70%; */
    padding: 200px 8% 0 0;
    margin-left: auto;
    /* margin-top: 200px; */

  }
  .link{
  display: inline-block;
  text-align: right;
  margin-top: 24px;
  white-space: nowrap;
  font-size: 1em;
  font-weight: 100;
  border-bottom: 0.5px solid #000000; 
  }


  .newsContainer {
    right: 0;
    margin: 0;
  }

  .splideImg {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
    margin-top: 24px;
  }
  .splideWrapper :global(.splide__slide){
    display:none;
  }
  .mobileOnly{
    object-fit: cover;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
  }
}
