.list{
    display: flex;
    gap: 3em;
    font-size: 1em;
    font-weight:100;
}

.list a:hover {
    color: var(--accent)
}

.btn{
    display:none;
}
@media screen and (max-width: 900px) {
    .list{
        display:none;
    }
    .btn{
        display:contents;
    }
}
